<form class="form cta" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" action="https://colowrap.wufoo.com/forms/zx0mfsp13viea3/#public" target="hidden_frame">
	<div class="cta-items">
		<div class="cta-item">
			<input type="email" ng-model="email" required maxlength="255" name="Field1" class="ui-field ui-field-large" placeholder="Email address..." />
		</div>
		<div class="cta-item cta-action">
			<input type="submit" class="ui-action ui-action-main ui-action-large" value="Get the Facts" />
		</div>
	</div>
	<input type="hidden" id="idstamp" name="idstamp" value="/ljKcWv8UgYx+h5qSWNoSQcm28k/DWeN6HmoVzrcJ04=" />
</form>