<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/identity/icon.png" type="image/png" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/identity/icon-ios.png" type="image/png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
	<script src="{{ '/assets/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/modernizr/modernizr.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script>
		var app = angular.module('CWApp', []);
		app.controller('CWCtrl', function($scope) {
		$scope.title = "";
		$scope.prefix = "";
		});
	</script>
</head>
