<div class="modal" id="factsheet">
	<div class="modal-content">
		<div class="modal-body">
			<div class="frame">
				<div class="frame-inner">
					{% include lead.html %}
				</div>
				<a href="#" class="modal-close"></a>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="contact">
	<div class="modal-content">
		<div class="modal-body">
			<div class="frame">
				<div class="frame-inner">
					{% include contact.html %}
				</div>
				<a href="#" class="modal-close"></a>
			</div>
		</div>
	</div>
</div>

<iframe name="hidden_frame" style="margin: 0; height: 0; width: 0;"></iframe>