<nav class="nav">
	<div class="frame">
		<div class="content">
			<div class="nav-primary">
				<ul>
					<li class="nav-logo"><a href="/"><img src="{{site.baseurl}}assets/img/logo-color.png" /></a></li>
				</ul>
			</div>
			<div class="nav-secondary">
				<ul>
					<li><a class="phone" href="tel:18888153376">(888) 815-3376</a></li>
					<li><a class="email" href="mailto:sales@colowrap.com">sales@colowrap.com</a></li>
					<li><a class="contact" href="#contact" target="modal">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>