@charset "UTF-8";

/*------------------GLOBAL RESETS---------------------*/

html { visibility: visible; }
html, body { position: relative; height: 100%; font-size: $base; line-height: $base-line; }
body { background: $background; color: #444; margin: 0; padding: 0; @include sans; }
input, textarea, button { color: #555; line-height: inherit; font-family: inherit; }
*, *:before, *:after { position: relative; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; @include transition(none .25s cubic-bezier(0,.5,.5,1)); }
h1, h2, h3, h4, h5, h6, dl, dt, dd, div, b, strong, i, em, p, a, ul, ol, li, span, img, input, code, label, blockquote, br, button, caption, table, tr, td, th, div, form, hr, pre, script, select, strike, tbody, textarea, tfoot, thead, small, big, sup, sub, fieldset, legend { padding: 0; font-size: 1em; margin: 0; list-style-type: none; text-decoration: none; text-align: left; }
h1, h2, h3, h4, h5, h6, dl, dt, dd, div, b, strong, i, em, p, a, ul, ol, li, span, img, code, label, blockquote, br, caption, table, tr, td, th, div, form, hr, pre, script, strike, tbody, tfoot, thead, small, big, sup, sub, fieldset, legend { background: transparent; }
a { text-decoration: none; 
  &:hover,
  &:active,
  &:focus { cursor: pointer; text-decoration: underline; outline: none; }
  img { border: none; }
}
section, article, header, footer, nav, aside, hgroup, main { display: block; margin: 0; padding: 0; }
abbr, audio, canvas, details, figcaption, figure, mark, meter, output, progress, summary, time, video { display: inline; margin: 0; padding: 0; }
* { filter: none !important; 
  &[hidden] { display: none; }
}
.nowrap { white-space: nowrap; }
.titlecase { text-transform: capitalize; }
.caps { text-transform: uppercase; }
small { font-size: .75em; font-weight: normal; }
.error, .errors { color: $error; }
p:empty { display: none; }
.light { color: $light; }
.italic { font-style: oblique; }

/*------------------TYPOGRAPHY RESETS---------------------*/

a {
  color: $link; 
  cursor: pointer;
  -webkit-transition: color .25s, background-color .25s, border-color .25s; 
  -moz-transition: color .25s, background-color .25s, border-color .25s; 
  -ms-transition: color .25s, background-color .25s, border-color .25s; 
  -o-transition: color .25s, background-color .25s, border-color .25s; 
  transition: color .25s, background-color .25s, border-color .25s;
}
a:active, a:hover, *[data-href]:hover { color: $blue; }

img, iframe, video, audio { max-width: 100%; height: auto; }

hr { background-color: #eee; border: 0 solid #e6e6e6; clear: both; height: 0; margin: 3em 0; border-width: 0 0 2px 0; }
p, ul, ol, dl, dd, pre, h1, h2, h3, h4, h5, h6, pre, form, fieldset, table, iframe, blockquote { margin: 1.5rem 0; }
label, ul li, ol li, dl dt, dl dd { margin: .5em 0; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { margin-top: 2.5rem; margin-bottom: 2rem; }

h1, .h1 { font-size: 4.5rem; line-height: 1.025; font-weight: 300; }
h2, .h2 { font-size: 3rem; line-height: 1.1; font-weight: normal; }
h3, .h3 { font-size: 2rem; line-height: 1.3; font-weight: normal; }
h4, .h4 { font-size: 1.5rem; line-height: 1.3; font-weight: normal; }
h5, .h5 { font-size: 1.25rem; line-height: 1.5; font-weight: normal; color: $blue; }
h6, .h6 { font-size: 1rem; line-height: 1.5; font-weight: bold; }

@media #{mobile()} { 
  h1, .h1 { font-size: 3.25rem; line-height: 1.1; font-weight: 300; }
  h2, .h2 { font-size: 2.25rem; line-height: 1.1; font-weight: normal; }
  h3, .h3 { font-size: 1.75rem; line-height: 1.3; font-weight: normal; }
  h4, .h4 { font-size: 1.25rem; line-height: 1.3; font-weight: normal; }
  h5, .h5 { font-size: 1rem; line-height: 1.5; font-weight: normal; color: $blue; }
  h6, .h6 { font-size: 1rem; line-height: 1.5; font-weight: bold; }
}


ul, ol { padding: 0; margin: 3rem 0; padding-left: 1.5em;
  ul, ol { margin-bottom: 0; margin-top: 0; }
}

ul, ul li { list-style: disc; }
ul ul li { list-style: circle; }
ol, ol li { list-style: decimal; }
ol ol li { list-style: lower-alpha; }
ol ol ol li { list-style: lower-roman; }
ol ol ol ol li { list-style: lower-greek; }
dt, strong, b { font-weight: bold; }
cite, em, i { font-style: italic; }
strike { text-decoration: line-through; }


blockquote { font-size: 1.5rem; line-height: 1.4; font-style: oblique; padding: 0; margin: 3rem 0; }
blockquote cite, blockquote em, blockquote i { font-style: normal; }
cite { color: $light; display: block; border-width: 0; }
cite a { color: inherit; }
cite a:hover, cite a:focus { color: #666; }

pre, code { border-radius: 5px; font-family: 'Lucida Console', Monaco, monospace }
code { padding: .125em .325em; margin: -.125em 0; display: inline-block; }
pre { margin: 2em 0; overflow: auto; color: $green; }

abbr, acronym { box-shadow: 0 2px 0 rgba(0,0,0,.1); cursor: pointer; }
sup, sub { font-size: .75em; vertical-align: baseline; }
sup { bottom: 1ex; }
sub { top: .5ex; }

fieldset { padding: 0; margin: 2em 0; border-width: 0; }
legend { font-weight: bold; color: $light; }

table { width: 100%; border: 1px solid #e6e6e6; border-width: 0 0 1px 0; border-collapse: collapse; border-spacing: 0; margin: 3rem 0; }
table td, table th { border: 1px solid #e6e6e6; border-width: 1px 0; padding: .7em 1em; }
table tr:first-child td, table tr:first-child th { border-top-width: 0; }
table tr > *:first-child { padding-left: 0; }
table tr > *:last-child { padding-right: 0; }
table th { font-weight: normal; color: $light; }

mark { display: inline-block; padding: .125em .25em; margin: -.125em 0; background: #fe6; color: #333; }
iframe, video { width: 100%; display: block; border: none; margin: 3rem 0; height: 360px; }
hr { background: transparent; }
label { display: block; }

.ui-label { margin: 1em 0 .5em; }

@mixin field-shadow($color) { box-shadow: 0 0 0 1px $color, 0 0 5px $color; }

/* resets for all form elements */
.ui-field, .ui-action, .ui-option-icon, .wufoo input.field, .wufoo textarea.field, .wufoo input[type="submit"] {
  &:not(.checkbox) {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
    &.ui-field,
    &.field { box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 5px rgba(0,0,0,.15); }
    font-family: inherit;
    width: 100%;
    vertical-align: top;
    margin: .5em 0;
    color: #333;
    border-radius: 0;
    border-width: 0;
    height: 2.25em;
    padding: .4em 1em .5em;
    outline: none !important; 
    -webkit-appearance: none;
    @include box-sizing(); 
    @include trans((color,background-color,border-color,box-shadow));
    &:hover, &:focus { color: #333; @include field-shadow($cta); z-index: 2; }
    &.ui-action, &[type="submit"] {
      width: auto;
    }
    &.ui-action-main, &[type="submit"] { color: white; background: $cta; font-weight: bold; 
      &:hover, &:focus { color: white; }
    }
    /* resets for all selects */
    &.ui-select { padding: 0; padding-right: 0; overflow: hidden; width: 100%; margin: .5em 0;
      &:before { content: ''; width: 5px; height: 5px; border: 0 solid; border-width: 0 2px 2px 0; display: block; position: absolute; top: 50%; right: 1em; margin-top: -.4em; @include transform(rotate(45deg)); }
      select { cursor: pointer; outline: none; border-width: 0; line-height: 1.5; padding: .5em 1em .55em; background: transparent; -moz-appearance: none; -webkit-appearance: none; font-family: inherit; color: #333; text-indent: 0.01px; text-overflow: ''; width: 115%; font-weight: bold;
        html.ie & { width: 150%; }
      }
    }
    &.ui-file { overflow: hidden; }
  }
}

textarea.ui-field,
.wufoo textarea.field {
  &:not(.checkbox) {
    height: 5em; resize: vertical; line-height: 1.5; 
  }
}
select[multiple].ui-field { font-family: inherit; color: #333; display: block; width: 100%; height: 10em; resize: vertical; padding: .667em 1em; cursor: pointer; }

/* resets for all fields */
.ui-field { display: block; display: block; width: 100%; }

/* resets for all button elements */
.ui-action { white-space: nowrap; z-index: auto; text-decoration: none !important; cursor: pointer; width: auto; display: inline-block; cursor: pointer; margin-right: .667em; }
.ui-action-text { color: inherit !important; background: transparent !important; padding-left: .5em; padding-right: .5em; border-color: transparent !important; }
@media #{full()} { 
  .ui-action-large, .ui-field-large { font-size: 19px; height: 3.55em !important; padding: .7em $padding .85em !important; }
}
@media #{mobile()} { 
  .ui-action-large, .ui-field-large { font-size: 17px; height: 3em !important; padding: .7em $padding*2/3 .85em !important; }
}
.ui-action-flush, .ui-field-flush { margin: 0; }
.ui-action-block { width: 100% !important; text-align: center; padding-left: 1em; padding-right: 1em; }
.ui-action-link { color: $blue !important; background: transparent !important; padding-left: .5em; padding-right: .5em; border-color: transparent !important; }

[disabled] { opacity: .333; }

input {
  &[type="submit"], 
  &[type="reset"] { width: auto; overflow: visible; }
  &[type="number"]::-webkit-inner-spin-button { left: -.5em; }
  &[type="search"] { border-radius: 1.4em; }
  &[type="search"]::-webkit-search-decoration, 
  &[type="search"]::-webkit-search-cancel-button, 
  &[type="search"]::-webkit-search-results-button, 
  &[type="search"]::-webkit-search-results-decoration { display: none; }
  &[type="range"] { width: 100%; margin: 1em 0; }
  &[type="image"]:hover, &[type="image"]:focus { border-color: #bbb; box-shadow: none; }
}

::-webkit-input-placeholder { font-weight: normal; font-style: oblique; }
::-moz-placeholder { font-weight: normal; font-style: oblique; }
:-ms-input-placeholder { font-weight: normal; font-style: oblique; }

table {
  label { margin: 0; 
    ~ input[type], 
    ~ textarea { margin-top: 5px; }
  }
  input[type],
  textarea { margin-top: -.3em; margin-bottom: -.3em; }
}

@-moz-document url-prefix() { .ui-file span { line-height: 1.4; display: block; } }

.ui-file input { position: absolute; top: 0; right: 0; font-size: 10em; margin: -10%; background: transparent; opacity: .01; cursor: pointer; }

.ui-option-label { cursor: pointer; }
.ui-option { width: 18px; height: 18px; display: inline-block; vertical-align: middle; top: -2px; margin: 0 .5em 0 0; padding: 0; 
  .ui-option-icon { width: 100%; height: 100%; position: absolute; top: -1px; left: -2px; padding: 0; vertical-align: middle; margin: 0; }
  input { opacity: .01; z-index: 1; width: 100%; height: 100%; cursor: pointer; top: -4px; 
    &[type="checkbox"] { + .ui-option-icon { &:after { content: ''; width: 4px; height: 8px; border: 0 solid white; border-width: 0 2px 2px 0; display: block; position: absolute; top: 2px; left: 6px; @include transform(rotate(45deg)); } } }
    &[type="radio"] { + .ui-option-icon { border-radius: 50%; &:after { content: ''; display: block; width: 6px; height: 6px; background: white; border-radius: 50%; position: absolute; top: 50%; left: 50%; margin: -3px 0 0 -3px; } } }
    &:checked + .ui-option-icon { background: $blue; box-shadow: 0 0 0 1px $blue;
      &:before { opacity: 1; }
    }
  }
  &:hover {
    &.ui-option-icon { border-color: rgba(0,0,0,.1); }
  }
}

.ui-clear { display: block; clear: both; }
.ui-shown { display: block !important; }
.ui-hidden { display: none !important; }
.ui-left { float: left; }
.ui-right { float: right; }
.ui-center, 
.ui-center * { text-align: center; }
.ui-overflow { overflow: hidden; }
.ui-meta { opacity: .5; }
.ui-spacing { padding: 2em; }
.ui-padding { padding: 2em 0; }

/*------------------FRAMEWORK---------------------*/

.ui-frame { margin: 0 auto; padding: 0; min-height: 100%; }
.ui-cols { display: block; margin: 0 auto; padding: 0; @include buffer(0,0); padding: 0; }

.ui-cols:after { content: ' '; display: table; clear: both; }
.ui-cols .ui-col-1, .ui-cols .ui-col-2, .ui-cols .ui-col-3, .ui-cols .ui-col-4, .ui-cols .ui-col-5, .ui-cols .ui-col-6, .ui-cols .ui-col-7, .ui-cols .ui-col-8, .ui-cols .ui-col-9, .ui-cols .ui-col-10, .ui-cols .ui-col-11, .ui-cols .ui-col-12 { display: block; float: left; padding: 0 $margin; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ui-cols .ui-col-1:after, .ui-cols .ui-col-2:after, .ui-cols .ui-col-3:after, .ui-cols .ui-col-4:after, .ui-cols .ui-col-5:after, .ui-cols .ui-col-6:after, .ui-cols .ui-col-7:after, .ui-cols .ui-col-8:after, .ui-cols .ui-col-9:after, .ui-cols .ui-col-10:after, .ui-cols .ui-col-11:after, .ui-cols .ui-col-12:after { content: ''; display: block; width: 1px; height: 0; }
.ui-cols .ui-col-1 { width: 8.333333333%; } .ui-cols .ui-col-2 { width: 16.666666666%; } .ui-cols .ui-col-3 { width: 25%; } .ui-cols .ui-col-4 { width: 33.333333333%; } .ui-cols .ui-col-5 { width: 41.666666666%; } .ui-cols .ui-col-6 { width: 50%; } .ui-cols .ui-col-7 { width: 58.333333333%; } .ui-cols .ui-col-8 { width: 66.666666666%; } .ui-cols .ui-col-9 { width: 75%; } .ui-cols .ui-col-10 { width: 83.333333333%; } .ui-cols .ui-col-11 { width: 91.666666666%; } .ui-cols .ui-col-12 { width: 100%; }
.ui-cols .ui-skip-1 { margin-left: 8.333333333%; } .ui-cols .ui-skip-2 { margin-left: 16.666666666%; } .ui-cols .ui-skip-3 { margin-left: 25%; } .ui-cols .ui-skip-4 { margin-left: 33.333333333%; } .ui-cols .ui-skip-5 { margin-left: 41.666666666%; } .ui-cols .ui-skip-6 { margin-left: 50%; } .ui-cols .ui-skip-7 { margin-left: 58.333333333%; } .ui-cols .ui-skip-8 { margin-left: 66.666666666%; } .ui-cols .ui-skip-9 { margin-left: 75%; } .ui-cols .ui-skip-10 { margin-left: 83.333333333%; } .ui-cols .ui-skip-11 { margin-left: 91.666666666%; } .ui-cols .ui-skip-12 { margin-left: 0; }
.ui-cols .ui-col-right { float: right; }

/*------------------MEDIA---------------------*/

@media (max-width: $break) {
  html, html body { -webkit-text-size-adjust: none; } 
  .ui-cols { width: auto; min-width: 0; width: auto; }  
  .ui-cols:after { display: none; }
  .ui-cols .ui-col-1, .ui-cols .ui-col-2, .ui-cols .ui-col-3, .ui-cols .ui-col-4, .ui-cols .ui-col-5, .ui-cols .ui-col-6, .ui-cols .ui-col-7, .ui-cols .ui-col-8, .ui-cols .ui-col-9, .ui-cols .ui-col-10, .ui-cols .ui-col-11, .ui-cols .ui-col-12 { float: none; width: auto; }
  .ui-cols .ui-skip-1, .ui-cols .ui-skip-2, .ui-cols .ui-skip-3, .ui-cols .ui-skip-4, .ui-cols .ui-skip-5, .ui-cols .ui-skip-6, .ui-cols .ui-skip-7, .ui-cols .ui-skip-8, .ui-cols .ui-skip-9, .ui-cols .ui-skip-10, .ui-cols .ui-skip-11, .ui-cols.ui-cols .ui-skip-12 { margin-left: 0; }
  .ui-cols .ui-col-right { float: none; }
}
